/* Nav Styling */
ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     background-color: #f3f3f3;
    list-style-type: none;
    margin: 0;
    padding: 0 5.5em;
    overflow: hidden;
}

li a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Source Sans Pro";
}

li a:hover {
    background-color: #e0e0e0;
}

.active {
    background-color: #cce5ff;
}

/* Page Styling */
img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
blockquote {
    padding: 60px;
    font-size: 18px;
    font-family: "Source Sans Pro";
}
h1 {
    text-align: center;
    font-family: "Source Sans Pro";
}