h1 {
    	color: red
    }
h2 {
	color: purple	
}
p  {
	font-size: 25px;
	} 
.pbottom {
	font-size: 15px;
	text-indent: 50px;
	}
.pbottombox {
	font-size: 15px;
	text-align: center;
	    float: left;
	    width: 150px;
    	border: 5px solid black;
    	padding: 25px;
    	margin: auto;
	}
.lb {
	   text-align: center;
	    float: left;
	    width: 150px;
    	border: 5px solid black;
    	padding: 25px;
    	margin: auto;
}
.cb {
	    margin: auto;
	     text-align: center;
	    width: 150px;
    	border: 5px solid black;
    	padding: 25px;
    	
}

.rb {
	    text-align: center;
	    float: right;
	    width: 150px;
    	border: 5px solid black;
    	padding: 25px;
    	margin: auto;
    	}
.rb2 {
	    text-align: center;
	    float: right;
	    width: 500px;
    	border: 5px solid black;
    	padding: 25px;
    	margin: auto;
    	}
.filler {
 width: 500px;
    	
    	padding: 500px;
    	margin: auto;
    	}
.linkpad {
 width: 500px;
    	
    	padding: 30px;
    	margin: auto;
    	}
.followpad {
 width: 500px;
    	
    	padding: 300px;
    	margin: auto;
    	}
a:link {
	color: black;
	text-decoration: none;
	}
a:visited {
	color: black;
	text-decoration: none;
	}
/*a:hover {
	color: blue;
		}*/
.lb:hover {
	background-color: pink;
	}
.cb:hover {
	background-color: pink;
	}
.rb:hover {
	background-color: pink;
	}
.rb2:hover {
	background-color: pink;
	}
.pbottombox:hover {
	background-color: pink;
	}
/* p {
	    text-align: center;
	   
	    width: 150px;
    	border: 5px solid black;
    	padding: 25px;
    	margin: 25px; 
    	
    	background-color: pink;
    	*/
    	
