blockquote {
    padding: 60px;
    font-size: 18px;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/*.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}*/

/*----- Section Titles -----*/

.accordion-section-title {
    text-decoration: none;
    color: black;
    background: darkgrey;
    padding: 1.5px;
    border-radius: 4px;
}

.accordion-section-title.active {
    background:darkgrey;
    /* Type */
    text-decoration:none;

}
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

a.accordion-section-title::after
{
    content: "[+]";
    font-size: 14px;
    vertical-align: middle; }

a.accordion-section-title.active::after
{
    content: "[-]";
    font-size: 14px;
    vertical-align: middle;}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
    background: whitesmoke;
    border-radius: 5px;
    margin: 1em 0;
    /*type*/
    font-size: 12pt;
    color: black;
    font-family: serif;
}

/* -----RED-----*/
/*Accordion*/
.accordion-red, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* Section Title*/
.accordion-section-title-red {
    text-decoration: none;
    color: black;
    background: #f77976;
    padding: 1.5px;
    border-radius: 4px;
}

.accordion-section-title.active-red {
    background:darkgrey;
    /* Type */
    text-decoration:none;

}
.accordion-section-red:last-child .accordion-section-title-red {
    border-bottom:none;
}

a.accordion-section-title-red::after
{
    content: "[+]";
    font-size: 14px;
    vertical-align: middle; }

a.accordion-section-title-red.active::after
{
    content: "[-]";
    font-size: 14px;
    vertical-align: middle;}

/* Section Content */
.accordion-section-content-red {
    padding:15px;
    display:none;
    background: #fca8a6;
    border-radius: 5px;
    margin: 1em 0;
    /*type*/
    font-size: 12pt;
    color: black;
    font-family: serif;
}
